{% load tags %}
<form action="{% url 'ea:clubs' %}" method="post">
    {{ form.balance|hide_field }}
    {% csrf_token %}
    <div class="row">
        <div class="col-sm">
            <label for="id_name">Club Name</label>
            {{ form.name|add_classes:"form-control" }}
        </div>

        <div class="col-sm">
            <div class="col-sm">
                <label for="id_admin">Club Admin</label>
                {{ form.admin|add_classes:"form-select" }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <label for="id_username">Username</label>
            {{ form.username|add_classes:"form-control" }}
        </div>
        <div class="col-sm">
            <div class="col-sm">
                <label for="id_password">Password</label>
                {{ form.password|add_classes:"form-control" }}
            </div>
        </div>
    </div>
    <button class="btn btn-success mt-2" type="submit">Save</button>
</form>