{% load tags %}
{% with id=match.id %}
    <form action="{% url 'ea:matches' %}" method="post">
        {% csrf_token %}
        <input type="number" name="id" value="{{ id }}" hidden>
        <div class="row">
            <div class="col-sm">
                <label class="required" for="id_gn_{{ id }}">Game name:</label>
                <div class="input-group">
                    <select id="id_gn_{{ id }}" class="form-select" name="game_name" disabled>
                        <option value="">Select Method</option>
                        {% for option in game_list %}
                            <option value="{{ option.0 }}"
                                    {% if match.game_name == option.0 %}selected="selected"{% endif %}>
                                {{ option.1 }}
                            </option>
                        {% endfor %}
                    </select>
                    {% enable_f_button "id_gn_"|join_s:id %}
                </div>
            </div>
            <div class="col-sm">
                <label class="required" for="id_title_{{ id }}">Match Title:</label>
                <div class="input-group">
                    <input type="text" name="title" value="{{ match.title }}" class="form-control" maxlength="255"
                           required="" id="id_title_{{ id }}" disabled>
                    {% enable_f_button "id_title_"|join_s:id %}
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm">
                <label for="date_time_{{ id }}">Start date</label>
                <div class="input-group">
                    <input type="text" class="form-control datetime bg-white"
                           value="{{ match.start_time|date:'Y-m-d h:i A' }}"
                           id="date_time_{{ id }}" name="start_time" disabled/>
                    {% enable_f_button "date_time_"|join_s:id %}
                </div>
            </div>
            <div class="col-sm">
                <label for="end_time_{{ id }}">End date</label>
                <div class="input-group">
                    <input type="text" class="form-control datetime bg-white"
                           value="{{ match.end_time|date:'Y-m-d h:i A' }}"
                           id="end_time_{{ id }}" name="end_time" disabled/>
                    {% enable_f_button "end_time_"|join_s:id %}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success text-white">Save</button>
        <a class="btn btn-success text-white"
           href="{% url 'ea:create_bet_scope' id %}">
            New Bet Option
        </a>
        {% if not match.is_locked %}
            <a class="btn btn-danger float-end text-white" href="{% url 'ea:lock_match' match.id %}">Lock</a>
        {% else %}
            <button class="btn btn-danger float-end text-white disabled" disabled>Locked
                {% include 'easy_admin/lock_icon.html' %}
            </button>
            {% if match.locked %}
                <a class="btn btn-danger float-end text-white" href="{% url 'ea:lock_match' match.id %}">Unlock</a>
            {% endif %}
        {% endif %}
        {% if not match.hide %}
            <a class="btn btn-danger float-end text-white me-1" href="{% url 'ea:hide_match' match.id %}">Hide</a>
        {% else %}
            <button class="btn btn-danger float-end text-white disabled me-1" disabled>Hidden
            </button>
            <a class="btn btn-danger float-end text-white" href="{% url 'ea:hide_match' match.id %}">Unhide</a>
        {% endif %}
    </form>
{% endwith %}