{% extends 'admin/base_site.html' %}
{% block content %}
    <h1>Bet Option details</h1>
    <table class="table table-bordered table-striped table-light">
        <caption>
            <p class="h5">{{ bet_scope.question }}</p>
        </caption>
        <tr>
            <td>Game Type</td>
            <td>{{ bet_scope.match.game_name }}</td>
        </tr>
        <tr>
            <td>Match Title</td>
            <td>{{ bet_scope.match.title }}</td>
        </tr>
        <tr>
            <td>Bet Option start time</td>
            <td>{{ bet_scope.start_time|default:"Not Provided" }}</td>
        </tr>
        <tr>
            <td>Bet Option end time</td>
            <td>{{ bet_scope.end_time|default:"Not Provided" }}</td>
        </tr>
        {% if bet_scope.winner %}
            <tr>
                <td>Winner</td>
                <td>{{ bet_scope.winner }}</td>
            </tr>
            <tr>
                <td>Revenue</td>
                <td>
                    {% if bet_scope.winner == choice_list.0 %}
                        {{ option_benefits.0 }}
                    {% elif bet_scope.winner == choice_list.1 %}
                        {{ option_benefits.1 }}
                    {% elif bet_scope.winner == choice_list.2 %}
                        {{ option_benefits.2 }}
                    {% elif bet_scope.winner == choice_list.3 %}
                        {{ option_benefits.3 }}
                    {% else %}
                        Something is not right
                    {% endif %}
                </td>
            </tr>
        {% endif %}

    </table>
    <table class="table table-striped table-light table-bordered" style="margin-top: 50px">
        <tr>
            <th>Option 1</th>
            <th>Option 2</th>
            <th>Option 3</th>
            <th>Option 4</th>
        </tr>
        <tr>
            <td>{{ bet_scope.option_1 }}</td>
            <td>{{ bet_scope.option_2 }}</td>
            <td>{{ bet_scope.option_3 }}</td>
            <td>{{ bet_scope.option_4 }}</td>

        </tr>
        <tr>
            <th class="text-center" colspan="4">Reward rate</th>
        </tr>
        <tr style="margin-bottom: 100px">
            <td>{{ bet_scope.option_1_rate }}</td>
            <td>{{ bet_scope.option_2_rate }}</td>
            <td>{{ bet_scope.option_3_rate }}</td>
            <td>{{ bet_scope.option_4_rate }}</td>
        </tr>
        <tr>
            <th class="text-center" colspan="4">Total bet</th>
        </tr>
        <tr>
            {% for bet in option_bets %}
                <td>{{ bet }}</td>
            {% endfor %}
        </tr>
        {% if not bet_scope.winner %}
            <tr>
                <th class="text-center" colspan="4">Your benefit with current rates</th>
            </tr>
            <tr>
                {% for benefit in option_benefits %}
                    <td>{{ benefit }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th class="text-center" colspan="4">Select Winner</th>
            </tr>
            <tr>
                <td class="text-center">
                    <a class="btn-sm btn-danger rounded-pill text-white"
                       href="{% url 'admin:set_winner' bet_scope.id choice_list.0 %}">
                        {{ bet_scope.option_1 }}
                    </a>
                </td>
                <td class="text-center">
                    <a class="btn-sm btn-danger rounded-pill text-white"
                       href="{% url 'admin:set_winner' bet_scope.id choice_list.1 %}">
                        {{ bet_scope.option_2 }}
                    </a>
                </td>
                <td class="text-center">
                    {% if bet_scope.option_3 %}
                        <a class="btn-sm btn-danger rounded-pill text-white"
                           href="{% url 'admin:set_winner' bet_scope.id choice_list.2 %}">
                            {{ bet_scope.option_3 }}
                        </a>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if bet_scope.option_4 %}
                        <a class="btn-sm btn-danger rounded-pill text-white"
                           href="{% url 'admin:set_winner' bet_scope.id choice_list.3 %}">
                            {{ bet_scope.option_4 }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    </table>
    <a href="{% url 'admin:betting_betscope_change' bet_scope.id %}"
       class="btn btn-success text-white">Edit Scope</a>

    <a class="btn btn-primary text-white" href="/admin/betting/bet/?bet_scope__id={{ bet_scope.id }}">
        Bet list</a>
    {% if not bet_scope.is_locked %}
        <a href="{% url 'admin:lock_bet_scope' bet_scope.id "true" %}"
           class="btn btn-danger rounded-3 text-white float-end">Lock</a>
    {% else %}
        <button class="btn btn btn-success float-end" disabled>Locked
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill"
                 viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
            </svg>
        </button>
    {% endif %}
    {% if not bet_scope.winner %}
        <a href="{% url 'admin:refund_and_delete' bet_scope.id %}"
           class="btn btn-danger rounded-3 text-white float-end me-2">
            Refund and Delete
        </a>
    {% endif %}
{% endblock %}