{% extends 'admin/base_site.html' %}
{% block content %}
    <h1>Pending Deposits</h1>
    {% for deposit in unverified_deposits %}
        <div class="row">
            <div class="col-sm">
                <label for="id_username">Username</label>
                <input type="text" id="id_username" value="{{ deposit.user.username }}" class="form-control"
                       readonly>
            </div>
            <div class="col-sm">
                <label for="full-name">Full Name </label>
                <input id="full-name" type="text" class="form-control"
                       value="{{ deposit.user.full_name|default:"Not given" }}"
                       disabled>
            </div>
            <div class="col-sm"><label class="required" for="id_method">Method:</label>
                <input name="method" required="" value="{{ deposit.method }}" id="id_method" class="form-control"
                       readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label class="required label" for="id_amount_{{ deposit.id }}">Amount:</label>
                <input type="number" name="amount" value={{ deposit.amount }} step="0.01" required=""
                       id="id_amount_{{ deposit.id }}" class="form-control">
            </div>
            <div class="col-sm-8">
                <label for="id_transaction_id">Transaction id:</label>
                <input value="{{ deposit.transaction_id|default:"" }}" type="text" name="transaction_id"
                       class="form-control" maxlength="255" id="id_transaction_id" readonly>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <label for="id_superuser_account">Superuser account:</label>
                <input value="{{ deposit.superuser_account|default:"" }}" type="text" name="superuser_account"
                       class="form-control" maxlength="255" id="id_superuser_account" readonly>
            </div>
            <div class="col-sm">
                <label for="id_account">Account:</label>
                <input value="{{ deposit.account|default:"" }}" type="text" name="account" class="form-control"
                       maxlength="255" id="id_account" readonly>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <label for="id_created_at_0">Date</label>
                <input type="date" id="id_created_at_0" name="created_at_0" class="form-control"
                       value="{{ deposit.created_at|date:"Y-m-d" }}" readonly>
            </div>
            <div class="col-sm">
                <label for="id_created_at_1">Time</label>
                <input type="time" id="id_created_at_1" name="created_at_1" class="form-control"
                       value="{{ deposit.created_at|time:"H:i:s" }}" readonly></div>
        </div>
        <br>

        <button class="btn btn-success text-white" onclick="acceptDeposit({{ deposit.id }})">Accept</button>
        <a href="{% url 'admin:betting_deposit_delete' deposit.id %}"
           class="btn btn-danger float-end text-white">Deny</a>
        <br><br><br><br>
    {% empty %}
        <p>There is no unverified deposit</p>
    {% endfor %}
    <script>
        const baseUrl = "/admin/betting/deposit/accept_deposit/";

        function acceptDeposit(deposit_id) {
            const amount = document.getElementById("id_amount_" + deposit_id.toString()).value
            window.location = baseUrl + deposit_id.toString() + "/" + amount.toString() + "/";
        }
    </script>
{% endblock %}