{% extends 'admin/base_site.html' %}
{% block content %}
    <h1>Pending Deposits</h1>
    {% for deposit in unverified_deposits %}
        <form action="{% url 'admin:betting_deposit_change' deposit.id %}" method="post"
              style="margin-bottom: 100px;" >
            {% csrf_token %}
            <label>
                <input name="user" type="number" value="{{ deposit.user_id }}" hidden>
            </label>
            <label for="id_verified"><input type="text" name="verified" id="id_verified" value="true" hidden></label>

            <div class="row">
                <div class="col-sm">
                    <label for="id_username">Username</label>
                    <input type="text" id="id_username" value="{{ deposit.user.username }}" class="form-control"
                           readonly>
                </div>
                <div class="col-sm">
                    <label for="full-name">Full Name </label>
                    <input id="full-name" type="text" class="form-control"
                           value="{{ deposit.user.full_name|default:"Not given" }}"
                           disabled>
                </div>
                <div class="col-sm"><label class="required" for="id_method">Method:</label>
                    <input name="method" required="" value="{{ deposit.method }}" id="id_method" class="form-control"
                           readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="required label" for="id_amount">Amount:</label>
                    <input type="number" name="amount" value={{ deposit.amount }} step="0.01" required=""
                           id="id_amount" class="form-control">
                </div>
                <div class="col-sm-8">
                    <label for="id_transaction_id">Transaction id:</label>
                    <input value="{{ deposit.transaction_id|default:"" }}" type="text" name="transaction_id"
                           class="form-control" maxlength="255" id="id_transaction_id" readonly>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <label for="id_superuser_account">Superuser account:</label>
                    <input value="{{ deposit.superuser_account|default:"" }}" type="text" name="superuser_account"
                           class="form-control" maxlength="255" id="id_superuser_account" readonly>
                </div>
                <div class="col-sm">
                    <label for="id_account">Account:</label>
                    <input value="{{ deposit.account|default:"" }}" type="text" name="account" class="form-control"
                           maxlength="255" id="id_account" readonly>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <label for="id_created_at_0">Date</label>
                    <input type="date" id="id_created_at_0" name="created_at_0" class="form-control"
                           value="{{ deposit.created_at|date:"Y-m-d" }}" readonly>
                </div>
                <div class="col-sm">
                    <label for="id_created_at_1">Time</label>
                    <input type="time" id="id_created_at_1" name="created_at_1" class="form-control"
                           value="{{ deposit.created_at|time:"H:i:s" }}" readonly></div>
            </div>
            <br>

            <input type="submit" value="Accept" class="btn btn-success" name="_save">

            <a href="{% url 'admin:deny_deposit' deposit.id 'admin:deposit' %}"
               class="btn btn-danger float-end text-white">Deny</a>

        </form>
    {% empty %}
        <p>There is no unverified deposit</p>
    {% endfor %}
{% endblock %}