{% extends 'admin/base_site.html' %}
{% block content %}
    {% for transfer in unverified_transfers %}
        <form action="{% url 'admin:betting_transfer_change' transfer.id %}" method="post"
              style="margin-bottom: 100px; border: 10px red;">
            {% csrf_token %}
            <input name="user" type="number" value="{{ transfer.user_id }}" hidden>
            <input name="to" type="number" value="{{ transfer.to_id }}" hidden>
            <div class="row">
                <div class="col-sm">
                    <label for="from_user"> From User</label>
                    <input id="from_user" type="text" value="{{ transfer.user.username }}" class="form-control"
                           readonly>
                </div>
                <div class="col-sm">
                    <label for="to_user"> To User</label>
                    <input id="to_user" type="text" value="{{ transfer.to.username }}" class="form-control" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <label for="id_amount"> Amount</label>
                    <input id="id_amount" type="text" value="{{ transfer.amount }}" class="form-control"
                           readonly>
                </div>
                <div class="col-sm">
                    <label for="to_user"> Date</label>
                    <input id="to_user" type="text" value="{{ transfer.created_at }}" class="form-control" readonly>
                </div>
            </div>

            <label for="id_verified"><input type="text" name="verified" id="id_verified" value="true" hidden></label>
            <br>
            <br>

            <a href="{% url 'admin:verify_transfer' transfer.id %}" class="btn btn-success text-white">Accept</a>

            <a href="{% url 'admin:betting_transfer_delete' transfer.id %}"
               class="btn btn-danger float-end text-white">Deny</a>
        </form>
    {% empty %}
        <p>There is no unverified transfer</p>
    {% endfor %}
{% endblock %}