{% load tags %}
<table class="table table-striped table-bordered">
    <tr>
        <td>Question</td>
        <td>{{ bet_scope.question }}</td>
    </tr>
</table>
{% bet_option_table_sm bet_scope %}

{% if not bet_scope.is_locked %}
    <a class="btn btn-danger float-end text-white" href="{% url 'ea:lock_scope' bet_scope.id %}">Lock</a>
{% else %}
    <button class="btn btn-danger float-end text-white disabled" disabled>Locked
        {% include 'easy_admin/lock_icon.html' %}
    </button>
    {% if bet_scope.locked %}
        <a class="btn btn-danger float-end text-white" href="{% url 'ea:lock_scope' bet_scope.id %}">Unlock</a>
    {% endif %}
{% endif %}
{% if not bet_scope.hide %}
    <a class="btn btn-danger float-end text-white me-1" href="{% url 'ea:hide_scope' bet_scope.id %}">Hide</a>
{% else %}
    <button class="btn btn-danger float-end text-white disabled me-1" disabled>Hidden
    </button>
    <a class="btn btn-danger float-end text-white" href="{% url 'ea:hide_scope' bet_scope.id %}">Unhide</a>
{% endif %}
<a href="{% url 'ea:bet_option_detail' bet_scope.id %}"
   class="btn btn-success text-white">Detail</a>
<br><br><br><br>