{% extends 'base.html' %}
{% load tags %}
{% block content %}
    <div class="container">
        <a class="btn btn-success float-end" href="#addNewClub">Add New Club</a>
        <h1>Club List</h1>
        {% for club in club_list %}
            {% include 'easy_admin/forms/club_edit_form.html' %}
            <button type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ club.id }}"
                    aria-controls="collapse_{{ club.id }}" aria-expanded="false" aria-label="Toggle navigation"
                    class="btn btn-info mt-1">
                Show User List
            </button>
            <div id="collapse_{{ club.id }}" class="collapse">
                <h2>Club User List</h2>
                {% user_list_table_club club.user_set.all %}
            </div>
            <div class="mb-5"></div>
        {% empty %}
            <p>No club available</p>
        {% endfor %}
    <h2 id="addNewClub">Add new club</h2>
    {% include 'easy_admin/forms/club_new_form.html' %}
    </div>
{% endblock content %}