{% extends 'base.html' %}
{% load tags %}
{% block title %}Deposits{% endblock title %}
{% block content %}
    <div class="container">
        <h2 id="unverified">Pending Deposits</h2>
        {% for deposit in unverified_deposits %}
            {% include 'easy_admin/forms/deposit_form.html' %}
            <br><br><br><br>
        {% empty %}
            <p>There is no unverified deposit</p>
        {% endfor %}
        <h2 id="verified">Recent Verified Deposits</h2>
        {% easy_table table_data %}
    </div>
{% endblock %}