{% extends 'base.html' %}
{% load tags %}
{% block content %}
    <div class="container">
        <a href="#add-new" class="btn btn-success text-white float-lg-end">Add New Match</a>
        <h2 id="running">Running Matches</h2>
        {% for match in live_matches %}
            <div class="mb-5">
                {% include 'easy_admin/forms/match_edit_form.html' %}
                <div class="container">
                    <h3>Bet option list</h3>
                    {% for bet_scope in match.betscope_set.all %}
                        {% include 'easy_admin/bet_option_sm.html' %}
                    {% empty %}
                        <p>No bet options for this match</p>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <p>No live match available</p>
        {% endfor %}
        <h2>Recent Matches</h2>
        {% easy_table table_data %}
        <h2 id="add-new">Add New Match</h2>
        {% include 'easy_admin/forms/match_new_form.html' %}
    </div>
{% endblock %}