{% extends 'base.html' %}
{% load tags %}
{% block title %}Method List{% endblock title %}
{% block content %}
    <div class="container">
        <a class="btn btn-success float-end" href="#addNew">Add New</a>
        <h2>Available Methods</h2>
        {% for method in available_methods %}
            <form action="{% url 'ea:methods' %}" method="post" class="form-control mb-5">
                <div class="row">
                    <div class="col-sm">
                        <label for="id_code_{{ method.id }}">Name</label>
                        <div class="input-group">
                            <select name="code" id="id_code_{{ method.id }}" class="form-select" disabled>
                                {% for option in method_choices %}
                                    <option value="{{ option.0 }}"
                                            {% if method.code == option.0 %}selected{% endif %}
                                    >{{ option.1 }}</option>
                                {% endfor %}
                            </select>
                            {% enable_f_button "id_code_"|join_s:method.id %}
                        </div>
                    </div>
                    <div class="col-sm">
                        <label>Total Deposit</label>
                        <input type="text" value="{{ method.total_deposit }}" class="form-control" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <label for="id_number1_{{ method.id }}">Number 1</label>
                        <div class="input-group">
                            <input type="text" name="number1" id="id_number1_{{ method.id }}"
                                   value="{{ method.number1 }}" class="form-control" disabled>
                            {% enable_f_button "id_number1_"|join_s:method.id %}
                        </div>
                    </div>
                    <div class="col-sm">
                        <label for="id_number2_{{ method.id }}">Number 1</label>
                        <div class="input-group">
                            <input type="text" name="number2" id="id_number2_{{ method.id }}"
                                   value="{{ method.number2 }}" class="form-control" disabled>
                            {% enable_f_button "id_number2_"|join_s:method.id %}
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success me-5 mt-2">Save</button>
                <button type="button" class="btn btn-danger mt-2">Delete</button>
            </form>
        {% empty %}
            <p>There is no deposit method</p>
        {% endfor %}
        <h2 id="addNew">Add New Method</h2>
        <form action="{% url 'ea:methods' %}" method="post" class="form-control mb-5">
            <label for="id_code">Name</label>
            <select name="code" id="id_code" class="form-select">
                {% for option in method_choices %}
                    <option value="{{ option.0 }}"
                            {% if method.code == option.0 %}selected{% endif %}
                    >{{ option.1 }}</option>
                {% endfor %}
            </select>
            <div class="row">
                <div class="col-sm">
                    <label for="id_number1">Number 1</label>
                    <input type="text" name="number1" id="id_number1"
                           value="{{ method.number1 }}" class="form-control">
                </div>
                <div class="col-sm">
                    <label for="id_number2">Number 2</label>
                    <input type="text" name="number2" id="id_number2"
                           value="{{ method.number2 }}" class="form-control">
                </div>
            </div>
            <button type="submit" class="btn btn-success me-5 mt-2">Save</button>
            <button type="button" class="btn btn-danger mt-2">Delete</button>
        </form>
    </div>
{% endblock content %}