{% extends 'base.html' %}
{% load tags %}
{% block title %}Transfer{% endblock title %}
{% block content %}
    <div class="container">
        <h2 id="unverified">Pending Transfers</h2>
        {% for transfer in unverified_transfers %}
            <div class="mb-5">
                <div class="row">
                    <div class="col-sm">
                        <label for="from_user"> From User</label>
                        <input id="from_user" type="text" value="{{ transfer.user.username }}" class="form-control"
                               disabled>
                    </div>
                    <div class="col-sm">
                        <label for="to_user"> To User</label>
                        <input id="to_user" type="text" value="{{ transfer.to.username }}" class="form-control"
                               disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <label for="id_amount"> Amount</label>
                        <input id="id_amount" type="text" value="{{ transfer.amount }}" class="form-control"
                               disabled>
                    </div>
                    <div class="col-sm">
                        <label for="date"> Date</label>
                        <input id="date" type="text" value="{{ transfer.created_at }}" class="form-control" disabled>
                    </div>
                </div>

                <a href="{% url 'admin:verify_transfer' transfer.id %}" class="btn btn-success text-white">Accept</a>
                <a href="{% url 'admin:betting_transfer_delete' transfer.id %}"
                   class="btn btn-danger float-end text-white">Deny</a>
            </div>
        {% empty %}
            <p>There is no unverified transfer</p>
        {% endfor %}
        <h2 id="verified">Verified Transfers</h2>
        {% easy_table table_data %}
    </div>
{% endblock content %}